[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = https://github.com/frangipane/frangipane.github.io.git
[submodule "theme"]
	path = theme
	url = https://github.com/frangipane/attila.git
