[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = https://github.com/efavdb/efavdb.github.io.git
[submodule "elegant-theme"]
	path = elegant-theme
	url = git@github.com:efavdb/elegant.git
